/* same degine */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

body h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 45px;
}

body p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

body h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

footer {
    text-align: center;
    background: #0B0D17;
    margin-top: 120px;
    padding-top: 40px;
    padding-bottom: 60px;
}

footer h1 {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 36px;
    color: #FF5959;
}

footer p {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #D9DBE1;

    padding-top: 18px;

}

.donate-now-btn {
    background: #FF5959;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;

    justify-content: center;
    align-items: center;
    padding: 16px 12px;

    text-decoration: none;
    margin-right: 50px;
}

.flexible-container {

    display: flex;
    margin-bottom: 20px;
}

/*  */

/* header section  */
.header-section {
    background-image: url(images/donation4.jpg);
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px 0px;
    width: 1440px;
    height: 669px;

    background-position: center;
    background-size: cover;
}

.header-section h1 {
    font-size: 56px;
    color: #FFFFFF;
    text-align: center;
    padding-right: 76px;
}

.header-section p {
    color: #FFFFFF;
    text-align: center;
    padding: 40px;
    padding-right: 120px;
}

/*  */

/* donation section */
.donation-section {
    text-align: center;
    padding-top: 90px;
}

.donation-section h1 {
    color: #121212;
}

.donation-section p {
    color: #707070;
    padding: 30px;
}

.donation-item {
    text-align: center;
    padding: 30px;
    margin-left: 150px;

    /* background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px; */
}

.donation-item a {
    text-decoration: none;
    color: #707070;
}

.donation-amount {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
}

.donation-item h2 {
    font-size: 30px;
    font-weight: 700;
    padding: 30px;
}

.donation-input {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #DADADA;

    text-align: center;
    color: #B3B3B3;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.donation-form {
    padding: 40px;
}

.donation-input-btn {
    padding: 1px;
}

/*  */

/*  donate plan section */
.donate-plan-section {
    text-align: center;
    padding-top: 140px;
}

.donate-plan-section h1 {
    color: #121212;
}

.donate-plan-section p {
    color: #707070;
    padding: 0px;
}

.donate-plan-item {
    padding-top: 40px;
    margin-left: 82px;

}

.donate-plan-box {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    width: 381px;
    height: 454px;
    padding: 31px;
    margin: 12px;
}

.donate-icons {
    width: 53px;
    height: 53px;
}

.donate-plan-item h2 {
    font-size: 24px;
}

.donate-plan-item p {
    font-size: 16px;
}

/*  */

/* Get My Updates */
.get-updates-section {
    text-align: center;
    padding-top: 90px;
}

.my-updates-form {
    text-align: center;
    width: 809px;
    height: 200px;
    background: #FFF4D6;
    border-radius: 5px;
    margin-left: 300px;
    margin-top: 80px;
    padding-top: 80px;
}

.my-updates-form input {
    width: 275px;
    height: 48px;
    /* left: 505px;
top: 3518px; */

    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #AA9F9F;
}

.my-updates-form button {
    width: 157px;
    height: 48px;
    /* left: 780px;
top: 3518px; */

    background: #FF5959;
    border-radius: 0px 5px 5px 0px;

    text-align: center;

    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

/*  */

/*  */